$ansi-0-color: #050404;
$ansi-1-color: #BD0013;
$ansi-10-color: #9EFF6E;
$ansi-11-color: #EFC11A;
$ansi-12-color: #1997C6;
$ansi-13-color: #9B5953;
$ansi-14-color: #C8FAF4;
$ansi-15-color: #F6F5FB;
$ansi-2-color: #4AB118;
$ansi-3-color: #E7741E;
$ansi-4-color: #0F4AC6;
$ansi-5-color: #665993;
$ansi-6-color: #70A598;
$ansi-7-color: #F8DCC0;
$ansi-8-color: #4E7CBF;
$ansi-9-color: #FC5F5A;
$background-color: #1F1D45;
$bold-color: #BD0013;
$cursor-color: #EFBF38;
$cursor-text-color: #08080A;
$foreground-color: #F8DCC0;
$selected-text-color: #F3D9C4;
$selection-color: #706B4E;
