$ansi-0-color: #4F4F4F;
$ansi-1-color: #FF6C60;
$ansi-10-color: #CEFFAC;
$ansi-11-color: #FFFFCC;
$ansi-12-color: #B5DCFF;
$ansi-13-color: #FF9CFE;
$ansi-14-color: #DFDFFE;
$ansi-15-color: #FFFFFF;
$ansi-2-color: #A8FF60;
$ansi-3-color: #FFFFB6;
$ansi-4-color: #96CBFE;
$ansi-5-color: #FF73FD;
$ansi-6-color: #C6C5FE;
$ansi-7-color: #EEEEEE;
$ansi-8-color: #7C7C7C;
$ansi-9-color: #FFB6B0;
$background-color: #0000A4;
$bold-color: #FFFF4E;
$cursor-color: #FFA560;
$cursor-text-color: #FFFFFF;
$foreground-color: #FFFF4E;
$selected-text-color: #0000A4;
$selection-color: #A4A4A4;
