$ansi-0-color: #090300;
$ansi-1-color: #883932;
$ansi-10-color: #55A049;
$ansi-11-color: #BFCE72;
$ansi-12-color: #40318D;
$ansi-13-color: #8B3F96;
$ansi-14-color: #67B6BD;
$ansi-15-color: #F7F7F7;
$ansi-2-color: #55A049;
$ansi-3-color: #BFCE72;
$ansi-4-color: #40318D;
$ansi-5-color: #8B3F96;
$ansi-6-color: #67B6BD;
$ansi-7-color: #FFFFFF;
$ansi-8-color: #000000;
$ansi-9-color: #883932;
$background-color: #40318D;
$bold-color: #A5A2A2;
$cursor-color: #7869C4;
$cursor-text-color: #40318D;
$foreground-color: #7869C4;
$selected-text-color: #40318D;
$selection-color: #7869C4;
