$ansi-0-color: #4D4D4D;
$ansi-1-color: #FF2B2B;
$ansi-10-color: #55FF55;
$ansi-11-color: #FFFF55;
$ansi-12-color: #87CEFF;
$ansi-13-color: #FF55FF;
$ansi-14-color: #FFD700;
$ansi-15-color: #FFFFFF;
$ansi-2-color: #98FB98;
$ansi-3-color: #F0E68C;
$ansi-4-color: #CD853F;
$ansi-5-color: #FFDEAD;
$ansi-6-color: #FFA0A0;
$ansi-7-color: #F5DEB3;
$ansi-8-color: #555555;
$ansi-9-color: #FF5555;
$background-color: #333333;
$bold-color: #FFD700;
$cursor-color: #00FF00;
$cursor-text-color: #000000;
$foreground-color: #FFFFFF;
$selected-text-color: #000000;
$selection-color: #B5D5FF;
