$ansi-0-color: (

);
$color-space: #1A4080;
$ansi-1-color: #191919;
$ansi-10-color: #BF091D;
$ansi-11-color: #3D9751;
$ansi-12-color: #F6BB34;
$ansi-13-color: #17B2E0;
$ansi-14-color: #7830B0;
$ansi-15-color: #8BD2ED;
$ansi-2-color: #FFFFFF;
$ansi-3-color: #3D9751;
$ansi-4-color: #F6BB34;
$ansi-5-color: #17B2E0;
$ansi-6-color: #7830B0;
$ansi-7-color: #8BD2ED;
$ansi-8-color: #FFFFFF;
$ansi-9-color: #191919;
$background-color: #BF091D;
$badge-color: #262C35;
$bold-color: #FF0000;
$cursor-color: #FBAB19;
$cursor-guide-color: #D9002F;
$cursor-text-color: #A6E8FF;
$foreground-color: #FFFFFF;
$link-color: #EBEBEB;
$selected-text-color: #7994BE;
$selection-color: #FFFFFF;
