$ansi-0-color: #121418;
$ansi-1-color: #C94234;
$ansi-10-color: #98E036;
$ansi-11-color: #E0D561;
$ansi-12-color: #5FDAFF;
$ansi-13-color: #FF9269;
$ansi-14-color: #84F088;
$ansi-15-color: #F6F7EC;
$ansi-2-color: #85C54C;
$ansi-3-color: #F5AE2E;
$ansi-4-color: #1398B9;
$ansi-5-color: #D0633D;
$ansi-6-color: #509552;
$ansi-7-color: #E5C6AA;
$ansi-8-color: #675F54;
$ansi-9-color: #FF645A;
$background-color: #292520;
$bold-color: #F6F7EC;
$cursor-color: #F6F7EC;
$cursor-text-color: #292520;
$foreground-color: #E5C7A9;
$selected-text-color: #E5C7A9;
$selection-color: #121418;
