$ansi-0-color: #03073C;
$ansi-1-color: #C6004A;
$ansi-10-color: #DBFFA9;
$ansi-11-color: #FEE6A9;
$ansi-12-color: #B2BEFA;
$ansi-13-color: #FDA5CD;
$ansi-14-color: #A5BD86;
$ansi-15-color: #F6FFEC;
$ansi-2-color: #ACF157;
$ansi-3-color: #FECD5E;
$ansi-4-color: #525FB8;
$ansi-5-color: #986F82;
$ansi-6-color: #968763;
$ansi-7-color: #ECF0FC;
$ansi-8-color: #6C5B30;
$ansi-9-color: #DA4B8A;
$background-color: #232537;
$bold-color: #F6FFEB;
$cursor-color: #FECD5E;
$cursor-text-color: #232537;
$foreground-color: #ECF0FE;
$selected-text-color: #232537;
$selection-color: #FCF7E9;
