$ansi-0-color: #3E3E3E;
$ansi-1-color: #970B16;
$ansi-10-color: #87D5A2;
$ansi-11-color: #F1D007;
$ansi-12-color: #2E6CBA;
$ansi-13-color: #FFA29F;
$ansi-14-color: #1CFAFE;
$ansi-15-color: #FFFFFF;
$ansi-2-color: #07962A;
$ansi-3-color: #F8EEC7;
$ansi-4-color: #003E8A;
$ansi-5-color: #E94691;
$ansi-6-color: #89D1EC;
$ansi-7-color: #FFFFFF;
$ansi-8-color: #666666;
$ansi-9-color: #DE0000;
$background-color: #F4F4F4;
$bold-color: #C95500;
$cursor-color: #3F3F3F;
$cursor-text-color: #F4F4F4;
$foreground-color: #3E3E3E;
$selected-text-color: #535353;
$selection-color: #A9C1E2;
