$ansi-0-color: #2A2E33;
$ansi-1-color: #B84D51;
$ansi-10-color: #798431;
$ansi-11-color: #E58A50;
$ansi-12-color: #4B6B88;
$ansi-13-color: #6E5079;
$ansi-14-color: #4D7B74;
$ansi-15-color: #5A626A;
$ansi-2-color: #B3BF5A;
$ansi-3-color: #E4B55E;
$ansi-4-color: #6E90B0;
$ansi-5-color: #A17EAC;
$ansi-6-color: #7FBFB4;
$ansi-7-color: #B5B9B6;
$ansi-8-color: #1D1F22;
$ansi-9-color: #8D2E32;
$background-color: #161719;
$bold-color: #B7BCBA;
$cursor-color: #B7BCBA;
$cursor-text-color: #1E1F22;
$foreground-color: #B7BCBA;
$selected-text-color: #B7BCBA;
$selection-color: #1E1F22;
