$ansi-0-color: #929292;
$ansi-1-color: #E27373;
$ansi-10-color: #BDDEAB;
$ansi-11-color: #FFDCA0;
$ansi-12-color: #B1D8F6;
$ansi-13-color: #FBDAFF;
$ansi-14-color: #1AB2A8;
$ansi-15-color: #FFFFFF;
$ansi-2-color: #94B979;
$ansi-3-color: #FFBA7B;
$ansi-4-color: #97BEDC;
$ansi-5-color: #E1C0FA;
$ansi-6-color: #00988E;
$ansi-7-color: #DEDEDE;
$ansi-8-color: #BDBDBD;
$ansi-9-color: #FFA1A1;
$background-color: #121212;
$bold-color: #FFFFFF;
$cursor-color: #FFA560;
$cursor-text-color: #FFFFFF;
$foreground-color: #DEDEDE;
$selected-text-color: #F4F4F4;
$selection-color: #474E91;
