$ansi-0-color: #000000;
$ansi-1-color: #FA5355;
$ansi-10-color: #67FF4F;
$ansi-11-color: #FFFF00;
$ansi-12-color: #6D9DF1;
$ansi-13-color: #FB82FF;
$ansi-14-color: #60D3D1;
$ansi-15-color: #EEEEEE;
$ansi-2-color: #126E00;
$ansi-3-color: #C2C300;
$ansi-4-color: #4581EB;
$ansi-5-color: #FA54FF;
$ansi-6-color: #33C2C1;
$ansi-7-color: #ADADAD;
$ansi-8-color: #555555;
$ansi-9-color: #FB7172;
$background-color: #202020;
$bold-color: #EEEEEE;
$cursor-color: #FFFFFF;
$cursor-text-color: #000000;
$foreground-color: #ADADAD;
$selected-text-color: #ADADAD;
$selection-color: #1A3272;
