$ansi-0-color: #351B0E;
$ansi-1-color: #9B291C;
$ansi-10-color: #B4B264;
$ansi-11-color: #FF9566;
$ansi-12-color: #9EB2B4;
$ansi-13-color: #FF5B6A;
$ansi-14-color: #8ACD8F;
$ansi-15-color: #FFE598;
$ansi-2-color: #636232;
$ansi-3-color: #C36E28;
$ansi-4-color: #515C5D;
$ansi-5-color: #9B1D29;
$ansi-6-color: #588056;
$ansi-7-color: #F7D75C;
$ansi-8-color: #874228;
$ansi-9-color: #FF4331;
$background-color: #120B0D;
$bold-color: #FEE4A0;
$cursor-color: #C46C32;
$cursor-text-color: #120B0D;
$foreground-color: #F7D66A;
$selected-text-color: #120B0D;
$selection-color: #F7D66A;
