$ansi-0-color: #000000;
$ansi-1-color: #800000;
$ansi-10-color: #61CE3C;
$ansi-11-color: #FBDE2D;
$ansi-12-color: #253B76;
$ansi-13-color: #FF0080;
$ansi-14-color: #8DA6CE;
$ansi-15-color: #F8F8F8;
$ansi-2-color: #61CE3C;
$ansi-3-color: #FBDE2D;
$ansi-4-color: #253B76;
$ansi-5-color: #FF0080;
$ansi-6-color: #8DA6CE;
$ansi-7-color: #F8F8F8;
$ansi-8-color: #000000;
$ansi-9-color: #800000;
$background-color: #271F19;
$bold-color: #FFFFFF;
$cursor-color: #FFFFFF;
$cursor-text-color: #FFFFFF;
$foreground-color: #FFFFFF;
$selected-text-color: #FFFFFF;
$selection-color: #253B76;
