$ansi-0-color: #414141;
$ansi-1-color: #B23771;
$ansi-10-color: #829429;
$ansi-11-color: #CD6F34;
$ansi-12-color: #3C5EA8;
$ansi-13-color: #A454B2;
$ansi-14-color: #829429;
$ansi-15-color: #F2F2F2;
$ansi-2-color: #66781E;
$ansi-3-color: #CD6F34;
$ansi-4-color: #3C5EA8;
$ansi-5-color: #A454B2;
$ansi-6-color: #66781E;
$ansi-7-color: #FFFFFF;
$ansi-8-color: #3F3F3F;
$ansi-9-color: #DB3365;
$background-color: #FFFFFF;
$bold-color: #323232;
$cursor-color: #5E77C8;
$cursor-text-color: #ABBEE5;
$foreground-color: #414141;
$selected-text-color: #ACBCDC;
$selection-color: #706B4E;
