$ansi-0-color: #241F2B;
$ansi-1-color: #91284C;
$ansi-10-color: #2CD946;
$ansi-11-color: #FDE83B;
$ansi-12-color: #90BAF9;
$ansi-13-color: #A479E3;
$ansi-14-color: #ACD4EB;
$ansi-15-color: #9E8CBD;
$ansi-2-color: #23801C;
$ansi-3-color: #B49D27;
$ansi-4-color: #6580B0;
$ansi-5-color: #674D96;
$ansi-6-color: #8AAABE;
$ansi-7-color: #524966;
$ansi-8-color: #312D3D;
$ansi-9-color: #D5356C;
$background-color: #100815;
$bold-color: #C8BD1D;
$cursor-color: #524966;
$cursor-text-color: #100613;
$foreground-color: #514968;
$selected-text-color: #A593CD;
$selection-color: #1F1D2B;
