$ansi-0-color: #222222;
$ansi-1-color: #E2A8BF;
$ansi-10-color: #BEFFA8;
$ansi-11-color: #D0CCCA;
$ansi-12-color: #7AB0D2;
$ansi-13-color: #C5A7D9;
$ansi-14-color: #8CDFE0;
$ansi-15-color: #E0E0E0;
$ansi-2-color: #81D778;
$ansi-3-color: #C4C9C0;
$ansi-4-color: #264B49;
$ansi-5-color: #A481D3;
$ansi-6-color: #15AB9C;
$ansi-7-color: #02C5E0;
$ansi-8-color: #FFFFFF;
$ansi-9-color: #FFCDD9;
$background-color: #222222;
$bold-color: #648890;
$cursor-color: #87D3C4;
$cursor-text-color: #323232;
$foreground-color: #35B1D2;
$selected-text-color: #2DFFC0;
$selection-color: #0F3754;
