$ansi-0-color: #000000;
$ansi-1-color: #DC322F;
$ansi-10-color: #56DB3A;
$ansi-11-color: #FF8400;
$ansi-12-color: #0084D4;
$ansi-13-color: #B729D9;
$ansi-14-color: #CCCCFF;
$ansi-15-color: #FFFFFF;
$ansi-2-color: #56DB3A;
$ansi-3-color: #FF8400;
$ansi-4-color: #0084D4;
$ansi-5-color: #B729D9;
$ansi-6-color: #CCCCFF;
$ansi-7-color: #FFFFFF;
$ansi-8-color: #1B1D21;
$ansi-9-color: #DC322F;
$background-color: #000000;
$bold-color: #FF8400;
$cursor-color: #DC322F;
$cursor-text-color: #FFFFFF;
$foreground-color: #FFFFFF;
$selected-text-color: #FFFFFF;
$selection-color: #073642;
