$ansi-0-color: #1C1C1C;
$ansi-1-color: #D68686;
$ansi-10-color: #AED686;
$ansi-11-color: #E4C9AF;
$ansi-12-color: #86AED6;
$ansi-13-color: #D6AED6;
$ansi-14-color: #B1E7DD;
$ansi-15-color: #EFEFEF;
$ansi-2-color: #AED686;
$ansi-3-color: #D7AF87;
$ansi-4-color: #86AED6;
$ansi-5-color: #D6AED6;
$ansi-6-color: #8ADBB4;
$ansi-7-color: #D0D0D0;
$ansi-8-color: #1C1C1C;
$ansi-9-color: #D68686;
$background-color: #262626;
$bold-color: #E5E5E5;
$cursor-color: #E4C9AF;
$cursor-text-color: #000000;
$foreground-color: #D0D0D0;
$selected-text-color: #FFFFFF;
$selection-color: #4D4D4D;
