$ansi-0-color: #000000;
$ansi-1-color: #FF9DA4;
$ansi-10-color: #D1F1A9;
$ansi-11-color: #FFEEAD;
$ansi-12-color: #BBDAFF;
$ansi-13-color: #EBBBFF;
$ansi-14-color: #99FFFF;
$ansi-15-color: #FFFFFF;
$ansi-2-color: #D1F1A9;
$ansi-3-color: #FFEEAD;
$ansi-4-color: #BBDAFF;
$ansi-5-color: #EBBBFF;
$ansi-6-color: #99FFFF;
$ansi-7-color: #FFFFFF;
$ansi-8-color: #000000;
$ansi-9-color: #FF9DA4;
$background-color: #002451;
$bold-color: #FFFFFF;
$cursor-color: #FFFFFF;
$cursor-text-color: #003F8E;
$foreground-color: #FFFFFF;
$selected-text-color: #FFFFFF;
$selection-color: #003F8E;
