$ansi-0-color: #321300;
$ansi-1-color: #B2270E;
$ansi-10-color: #55F238;
$ansi-11-color: #F2B732;
$ansi-12-color: #85CFED;
$ansi-13-color: #E14C5A;
$ansi-14-color: #F07D14;
$ansi-15-color: #FFC800;
$ansi-2-color: #44A900;
$ansi-3-color: #AA820C;
$ansi-4-color: #58859A;
$ansi-5-color: #97363D;
$ansi-6-color: #B25A1E;
$ansi-7-color: #786B53;
$ansi-8-color: #433626;
$ansi-9-color: #ED5D20;
$background-color: #191919;
$bold-color: #FAC800;
$cursor-color: #FAC814;
$cursor-text-color: #191919;
$foreground-color: #786B53;
$selected-text-color: #FAC800;
$selection-color: #786B53;
