$ansi-0-color: #000507;
$ansi-1-color: #D94085;
$ansi-10-color: #F4DCA5;
$ansi-11-color: #EAC066;
$ansi-12-color: #308CBA;
$ansi-13-color: #AE636B;
$ansi-14-color: #FF919D;
$ansi-15-color: #E4838D;
$ansi-2-color: #2AB250;
$ansi-3-color: #FFD16F;
$ansi-4-color: #883CDC;
$ansi-5-color: #ECECEC;
$ansi-6-color: #C1B8B7;
$ansi-7-color: #FFF8DE;
$ansi-8-color: #009CC9;
$ansi-9-color: #DA6BAC;
$background-color: #1F1726;
$bold-color: #819090;
$cursor-color: #DD00FF;
$cursor-text-color: #FF00FE;
$foreground-color: #DAFAFF;
$selected-text-color: #E4FFFF;
$selection-color: #002831;
