$black-normal #050404
$red-normal #BD0013
$green-bright #9EFF6E
$yellow-bright #EFC11A
$blue-bright #1997C6
$magenta-bright #9B5953
$cyan-bright #C8FAF4
$white-bright #F6F5FB
$green-normal #4AB118
$yellow-normal #E7741E
$blue-normal #0F4AC6
$magenta-normal #665993
$cyan-normal #70A598
$white-normal #F8DCC0
$black-bright #4E7CBF
$red-bright #FC5F5A
$background-color #1F1D45
$bold-color #BD0013
$cursor-color #EFBF38
$cursor-text-color #08080A
$foreground-color #F8DCC0
$selected-text-color #F3D9C4
$selection-color #706B4E
