$black-normal #151515
$red-normal #AC4142
$green-bright #7E8E50
$yellow-bright #E5B567
$blue-bright #6C99BB
$magenta-bright #9F4E85
$cyan-bright #7DD6CF
$white-bright #F5F5F5
$green-normal #7E8E50
$yellow-normal #E5B567
$blue-normal #6C99BB
$magenta-normal #9F4E85
$cyan-normal #7DD6CF
$white-normal #D0D0D0
$black-bright #505050
$red-bright #AC4142
$background-color #212121
$bold-color #D0D0D0
$cursor-color #D0D0D0
$cursor-text-color #151515
$foreground-color #D0D0D0
$selected-text-color #D0D0D0
$selection-color #303030
