$black-normal #232323
$red-normal #FF000F
$green-bright #ABE15B
$yellow-bright #FFD242
$blue-bright #0092FF
$magenta-bright #9A5FEB
$cyan-bright #67FFF0
$white-bright #FFFFFF
$green-normal #8CE10B
$yellow-normal #FFB900
$blue-normal #008DF8
$magenta-normal #6D43A6
$cyan-normal #00D8EB
$white-normal #FFFFFF
$black-bright #444444
$red-bright #FF2740
$background-color #0E1019
$bold-color #9E9C9A
$cursor-color #FF0018
$cursor-text-color #FF0018
$foreground-color #FFFAF4
$selected-text-color #FFFFFF
$selection-color #002A3B
