$black-normal #20111B
$red-normal #BE100E
$green-bright #858162
$yellow-bright #EAA549
$blue-bright #426A79
$magenta-bright #97522C
$cyan-bright #989A9C
$white-bright #D5CCBA
$green-normal #858162
$yellow-normal #EAA549
$blue-normal #426A79
$magenta-normal #97522C
$cyan-normal #989A9C
$white-normal #968C83
$black-bright #5E5252
$red-bright #BE100E
$background-color #D5CCBA
$bold-color #45373C
$cursor-color #45373C
$cursor-text-color #D5CCBA
$foreground-color #45373C
$selected-text-color #45373C
$selection-color #968C83
