$black-normal #573D26
$red-normal #BE2D26
$green-bright #95D8BA
$yellow-bright #D0D150
$blue-bright #B8D3ED
$magenta-bright #D19ECB
$cyan-bright #93CFD7
$white-bright #FFF9D5
$green-normal #6BA18A
$yellow-normal #E99D2A
$blue-normal #5A86AD
$magenta-normal #AC80A6
$cyan-normal #74A6AD
$white-normal #E0DBB7
$black-bright #9B6C4A
$red-bright #E84627
$background-color #2A1F1D
$bold-color #FFF8D8
$cursor-color #573D26
$cursor-text-color #573D26
$foreground-color #E0DBB7
$selected-text-color #E0DBBB
$selection-color #563C27
