$black-normal #090300
$red-normal #883932
$green-bright #55A049
$yellow-bright #BFCE72
$blue-bright #40318D
$magenta-bright #8B3F96
$cyan-bright #67B6BD
$white-bright #F7F7F7
$green-normal #55A049
$yellow-normal #BFCE72
$blue-normal #40318D
$magenta-normal #8B3F96
$cyan-normal #67B6BD
$white-normal #FFFFFF
$black-bright #000000
$red-bright #883932
$background-color #40318D
$bold-color #A5A2A2
$cursor-color #7869C4
$cursor-text-color #40318D
$foreground-color #7869C4
$selected-text-color #40318D
$selection-color #7869C4
