$black-normal #000000
$red-normal #C37372
$green-bright #AADBAA
$yellow-bright #DADBAA
$blue-bright #AAAADB
$magenta-bright #DBAADA
$cyan-bright #AADADB
$white-bright #FFFFFF
$green-normal #72C373
$yellow-normal #C2C372
$blue-normal #7372C3
$magenta-normal #C372C2
$cyan-normal #72C2C3
$white-normal #D9D9D9
$black-bright #323232
$red-bright #DBAAAA
$background-color #29262F
$bold-color #D96F5F
$cursor-color #D9E6F2
$cursor-text-color #29262F
$foreground-color #D9E6F2
$selected-text-color #FFFFFF
$selection-color #073642
