$black-normal #7D8B8F
$red-normal #B23A52
$green-bright #80C470
$yellow-bright #FFEB62
$blue-bright #4196FF
$magenta-bright #FC5275
$cyan-bright #53CDBD
$white-bright #D2D8D9
$green-normal #789B6A
$yellow-normal #B9AC4A
$blue-normal #2A7FAC
$magenta-normal #BD4F5A
$cyan-normal #44A799
$white-normal #D2D8D9
$black-bright #888888
$red-bright #F24840
$background-color #2B2D2E
$bold-color #ECECEC
$cursor-color #708284
$cursor-text-color #002831
$foreground-color #D2D8D9
$selected-text-color #3F4041
$selection-color #E4E8ED
