$black-normal #181818
$red-normal #810009
$green-bright #A6A75D
$yellow-bright #DCDF7C
$blue-bright #3097C6
$magenta-bright #D33061
$cyan-bright #F3DBB2
$white-bright #F4F4F4
$green-normal #48513B
$yellow-normal #CC8B3F
$blue-normal #576D8C
$magenta-normal #724D7C
$cyan-normal #5C4F4B
$white-normal #AEA47F
$black-bright #555555
$red-bright #AC3835
$background-color #191C27
$bold-color #F4F4F4
$cursor-color #92805B
$cursor-text-color #181818
$foreground-color #AEA47A
$selected-text-color #AEA47F
$selection-color #172539
