$black-normal #000000
$red-normal #F8282A
$green-bright #2CC631
$yellow-bright #FDD727
$blue-bright #1670FF
$magenta-bright #E900B0
$cyan-bright #3AD5CE
$white-bright #EEEEEC
$green-normal #328A5D
$yellow-normal #FA701D
$blue-normal #135CD0
$magenta-normal #9F00BD
$cyan-normal #33C3C1
$white-normal #B3B3B3
$black-bright #555753
$red-bright #FB0416
$background-color #FFFFFF
$bold-color #1A1A1A
$cursor-color #6FD3FC
$cursor-text-color #FFFFFF
$foreground-color #262626
$selected-text-color #041730
$selection-color #6FD3FC
