$black-normal (

)
$color-space #000000
$red-normal #292F33
$green-bright #CB1E2D
$yellow-bright #D4605A
$blue-bright #A86671
$magenta-bright #7C85C4
$cyan-bright #5C5DB2
$white-bright #819090
$green-normal #FCF4DF
$yellow-normal #EDB8AC
$blue-normal #B7AB9B
$magenta-normal #2E78C2
$cyan-normal #C0236F
$white-normal #309186
$black-bright #EAE3CE
$red-bright #092028
$background-color #D4605A
$badge-color #292F33
$bold-color #FF0000
$cursor-color #6B7C7C
$cursor-guide-color #D4605A
$cursor-text-color #A6E8FF
$foreground-color #FEFFF2
$link-color #DBDAE0
$selected-text-color #0645AD
$selection-color #FFFFFF
$tab-color #EFB8AC
