$black-normal #03073C
$red-normal #C6004A
$green-bright #DBFFA9
$yellow-bright #FEE6A9
$blue-bright #B2BEFA
$magenta-bright #FDA5CD
$cyan-bright #A5BD86
$white-bright #F6FFEC
$green-normal #ACF157
$yellow-normal #FECD5E
$blue-normal #525FB8
$magenta-normal #986F82
$cyan-normal #968763
$white-normal #ECF0FC
$black-bright #6C5B30
$red-bright #DA4B8A
$background-color #232537
$bold-color #F6FFEB
$cursor-color #FECD5E
$cursor-text-color #232537
$foreground-color #ECF0FE
$selected-text-color #232537
$selection-color #FCF7E9
