$black-normal (

)
$color-space #000000
$red-normal #08002E
$green-bright #64002C
$yellow-bright #B4CE59
$blue-bright #FAC357
$magenta-bright #40A4CF
$cyan-bright #F12AAE
$white-bright #62CAA8
$green-normal #FFF5DB
$yellow-normal #5D731A
$blue-normal #CD751C
$magenta-normal #1D6DA1
$cyan-normal #B7077E
$white-normal #42A38C
$black-bright #F3E0B8
$red-bright #331E4D
$background-color #D02063
$badge-color #0E0D15
$bold-color #FF0000
$cursor-color #FFFFFF
$cursor-guide-color #BBBBBB
$cursor-text-color #351F4D
$foreground-color #FFFFFF
$link-color #DBD1B9
$selected-text-color #40A4CF
$selection-color #08002E
$tab-color #F3E0B8
