$black-normal #010101
$red-normal #F8B63F
$green-bright #7FB5E1
$yellow-bright #D6DA25
$blue-bright #489E48
$magenta-bright #B296C6
$cyan-bright #F5BFD7
$white-bright #FEFBEA
$green-normal #7FB5E1
$yellow-normal #D6DA25
$blue-normal #489E48
$magenta-normal #B296C6
$cyan-normal #F5BFD7
$white-normal #A8A49D
$black-bright #726E6A
$red-bright #F8B63F
$background-color #010101
$bold-color #A8A49D
$cursor-color #A8A49D
$cursor-text-color #010101
$foreground-color #A8A49D
$selected-text-color #A8A49D
$selection-color #5A5753
