$black-normal #343935
$red-normal #CF3F61
$green-bright #767F2C
$yellow-bright #78592F
$blue-bright #135979
$magenta-bright #604291
$cyan-bright #76BBCA
$white-bright #B2B5AE
$green-normal #7BB75B
$yellow-normal #E9B32A
$blue-normal #4C9AD4
$magenta-normal #A57FC4
$cyan-normal #389AAD
$white-normal #FAFAF6
$black-bright #595B59
$red-bright #D18FA6
$background-color #1E1E1E
$bold-color #FFFFFA
$cursor-color #EDCF4F
$cursor-text-color #343935
$foreground-color #F7F6EC
$selected-text-color #F7F6EC
$selection-color #175877
