$black-normal #230046
$red-normal #7D1625
$green-bright #52E0C4
$yellow-bright #E0C386
$blue-bright #8E87E0
$magenta-bright #A776E0
$cyan-bright #9AD4E0
$white-bright #8C91FA
$green-normal #337E6F
$yellow-normal #7F6F49
$blue-normal #4F4A7F
$magenta-normal #5A3F7F
$cyan-normal #58777F
$white-normal #736E7D
$black-bright #372D46
$red-bright #E05167
$background-color #050014
$bold-color #8C91FA
$cursor-color #8C91FA
$cursor-text-color #050014
$foreground-color #736E7D
$selected-text-color #8C91FA
$selection-color #37323C
