$black-normal #000000
$red-normal #FF3030
$green-bright #559A70
$yellow-bright #CCAC00
$blue-bright #0099CC
$magenta-bright #CC69C8
$cyan-bright #7AC4CC
$white-bright #BCCCCC
$green-normal #559A70
$yellow-normal #CCAC00
$blue-normal #0099CC
$magenta-normal #CC69C8
$cyan-normal #7AC4CC
$white-normal #BCCCCC
$black-bright #000000
$red-bright #FF3030
$background-color #000000
$bold-color #FFFFFF
$cursor-color #FFFFFF
$cursor-text-color #000000
$foreground-color #AFC2C2
$selected-text-color #000000
$selection-color #7DBEFF
