$black-normal #000000
$red-normal #FF4242
$green-bright #74CD68
$yellow-bright #FFB929
$blue-bright #23D7D7
$magenta-bright #FF37FF
$cyan-bright #00EDE1
$white-bright #FFFFFF
$green-normal #74AF68
$yellow-normal #FFAD29
$blue-normal #338F86
$magenta-normal #9414E6
$cyan-normal #23D7D7
$white-normal #E1E1E0
$black-bright #555555
$red-bright #FF3242
$background-color #2D3743
$bold-color #000000
$cursor-color #000000
$cursor-text-color #FFFFFF
$foreground-color #E1E1E0
$selected-text-color #000000
$selection-color #2D37FF
