$black-normal #000000
$red-normal #990000
$green-bright #00D900
$yellow-bright #E5E500
$blue-bright #0000FF
$magenta-bright #E500E5
$cyan-bright #00E5E5
$white-bright #E5E5E5
$green-normal #00A600
$yellow-normal #999900
$blue-normal #0000B2
$magenta-normal #B200B2
$cyan-normal #00A6B2
$white-normal #BFBFBF
$black-bright #666666
$red-bright #E50000
$background-color #224FBC
$bold-color #FFFFFF
$cursor-color #7F7F7F
$cursor-text-color #FFFFFF
$foreground-color #FFFFFF
$selected-text-color #FFFFFF
$selection-color #216DFF
