$black-normal #323232
$red-normal #C22832
$green-bright #8EC43D
$yellow-bright #E0C64F
$blue-bright #43A5D5
$magenta-bright #8B57B5
$cyan-bright #8EC43D
$white-bright #FFFFFF
$green-normal #8EC43D
$yellow-normal #E0C64F
$blue-normal #43A5D5
$magenta-normal #8B57B5
$cyan-normal #8EC43D
$white-normal #EEEEEE
$black-bright #323232
$red-bright #C22832
$background-color #111213
$bold-color #CACECD
$cursor-color #E3BF21
$cursor-text-color #E0BE2E
$foreground-color #CACECD
$selected-text-color #CACECD
$selection-color #303233
