$black-normal #000000
$red-normal #B04B57
$green-bright #87B379
$yellow-bright #E5C179
$blue-bright #7D8FA4
$magenta-bright #A47996
$cyan-bright #85A7A5
$white-bright #FFFFFF
$green-normal #87B379
$yellow-normal #E5C179
$blue-normal #7D8FA4
$magenta-normal #A47996
$cyan-normal #85A7A5
$white-normal #B3B8C3
$black-bright #000000
$red-bright #B04B57
$background-color #20242D
$bold-color #B3B8C3
$cursor-color #B3B8C3
$cursor-text-color #1D1F21
$foreground-color #B3B8C3
$selected-text-color #B3B8C3
$selection-color #16181E
