$black-normal #302B2A
$red-normal #A7463D
$green-bright #128C21
$yellow-bright #FC6A21
$blue-bright #7999F7
$magenta-bright #FD8AA1
$cyan-bright #FAD484
$white-bright #FFFFFF
$green-normal #587744
$yellow-normal #9D602A
$blue-normal #485B98
$magenta-normal #864651
$cyan-normal #9C814F
$white-normal #C9C9C9
$black-bright #4D4E48
$red-bright #AA000C
$background-color #1A1818
$bold-color #FFFFFF
$cursor-color #FFFFFF
$cursor-text-color #191717
$foreground-color #C9C9C9
$selected-text-color #C9C9C9
$selection-color #302B2A
