$black-normal #1B1D1E
$red-normal #F92672
$green-bright #B6E354
$yellow-bright #FEED6C
$blue-bright #3F78FF
$magenta-bright #9E6FFE
$cyan-bright #23CFD5
$white-bright #F8F8F2
$green-normal #4DF840
$yellow-normal #F4FD22
$blue-normal #2757D6
$magenta-normal #8C54FE
$cyan-normal #38C8B5
$white-normal #CCCCC6
$black-bright #505354
$red-bright #FF5995
$background-color #1B1D1E
$bold-color #FFFFFF
$cursor-color #FC971F
$cursor-text-color #000000
$foreground-color #F8F8F8
$selected-text-color #FFFFFF
$selection-color #4D4D4D
