$black-normal #000000
$red-normal #CC6666
$green-bright #B5BD68
$yellow-bright #F0C674
$blue-bright #81A2BE
$magenta-bright #B294BB
$cyan-bright #8ABEB7
$white-bright #FFFFFF
$green-normal #B5BD68
$yellow-normal #F0C674
$blue-normal #81A2BE
$magenta-normal #B294BB
$cyan-normal #8ABEB7
$white-normal #FFFFFF
$black-bright #000000
$red-bright #CC6666
$background-color #1D1F21
$bold-color #C5C8C6
$cursor-color #C5C8C6
$cursor-text-color #1D1F21
$foreground-color #C5C8C6
$selected-text-color #C5C8C6
$selection-color #373B41
