$black-normal #2E3436
$red-normal #CC0000
$green-bright #8AE234
$yellow-bright #FCE94F
$blue-bright #729FCF
$magenta-bright #AD7FA8
$cyan-bright #34E2E2
$white-bright #EEEEEC
$green-normal #4E9A06
$yellow-normal #C4A000
$blue-normal #3465A4
$magenta-normal #75507B
$cyan-normal #06989A
$white-normal #D3D7CF
$black-bright #555753
$red-bright #EF2929
$background-color #300A24
$bold-color #EEEEEC
$cursor-color #BBBBBB
$cursor-text-color #FFFFFF
$foreground-color #EEEEEC
$selected-text-color #000000
$selection-color #B5D5FF
