$black-normal #000000
$red-normal #E24346
$green-bright #9CC090
$yellow-bright #DDDA7A
$blue-bright #7B91D6
$magenta-bright #F674BA
$cyan-bright #5ED1E5
$white-bright #D8C8BB
$green-normal #39B13A
$yellow-normal #DAE145
$blue-normal #4261C5
$magenta-normal #F920FB
$cyan-normal #2ABBD4
$white-normal #D0B8A3
$black-bright #FEFCFC
$red-bright #E97071
$background-color #404040
$bold-color #22FF0C
$cursor-color #30FF24
$cursor-text-color #3EEF37
$foreground-color #AFDAB6
$selected-text-color #FFFFFF
$selection-color #B0AD21
