$black-normal: #090300;
$red-normal: #DB2D20;
$green-bright: #3A3432;
$yellow-bright: #4A4543;
$blue-bright: #807D7C;
$magenta-bright: #D6D5D4;
$cyan-bright: #CDAB53;
$white-bright: #F7F7F7;
$green-normal: #01A252;
$yellow-normal: #FDED02;
$blue-normal: #01A0E4;
$magenta-normal: #A16A94;
$cyan-normal: #B5E4F4;
$white-normal: #A5A2A2;
$black-bright: #5C5855;
$red-bright: #E8BBD0;
$background-color: #090300;
$bold-color: #A5A2A2;
$cursor-color: #A5A2A2;
$cursor-text-color: #090300;
$foreground-color: #A5A2A2;
$selected-text-color: #A5A2A2;
$selection-color: #4A4543;
