$black-normal: #000000;
$red-normal: #FD5FF1;
$green-bright: #94FA36;
$yellow-bright: #F5FFA8;
$blue-bright: #96CBFE;
$magenta-bright: #B9B6FC;
$cyan-bright: #85BEFD;
$white-bright: #E0E0E0;
$green-normal: #87C38A;
$yellow-normal: #FFD7B1;
$blue-normal: #85BEFD;
$magenta-normal: #B9B6FC;
$cyan-normal: #85BEFD;
$white-normal: #E0E0E0;
$black-bright: #000000;
$red-bright: #FD5FF1;
$background-color: #161719;
$bold-color: #C5C8C6;
$cursor-color: #D0D0D0;
$cursor-text-color: #151515;
$foreground-color: #C5C8C6;
$selected-text-color: #C5C8C6;
$selection-color: #444444;
