$black-normal: #20111B;
$red-normal: #BE100E;
$green-bright: #858162;
$yellow-bright: #EAA549;
$blue-bright: #426A79;
$magenta-bright: #97522C;
$cyan-bright: #989A9C;
$white-bright: #D5CCBA;
$green-normal: #858162;
$yellow-normal: #EAA549;
$blue-normal: #426A79;
$magenta-normal: #97522C;
$cyan-normal: #989A9C;
$white-normal: #968C83;
$black-bright: #5E5252;
$red-bright: #BE100E;
$background-color: #20111B;
$bold-color: #968C83;
$cursor-color: #968C83;
$cursor-text-color: #20111B;
$foreground-color: #968C83;
$selected-text-color: #968C83;
$selection-color: #45373C;
