$black-normal: #191919;
$red-normal: #FF355B;
$green-bright: #B7E876;
$yellow-bright: #FFC251;
$blue-bright: #76D5FF;
$magenta-bright: #BA76E7;
$cyan-bright: #6CBFB5;
$white-bright: #C2C8D7;
$green-normal: #B7E876;
$yellow-normal: #FFC251;
$blue-normal: #76D4FF;
$magenta-normal: #BA76E7;
$cyan-normal: #6CBFB5;
$white-normal: #C2C8D7;
$black-bright: #191919;
$red-bright: #FF355B;
$background-color: #191919;
$bold-color: #9FB3C1;
$cursor-color: #F34B00;
$cursor-text-color: #002831;
$foreground-color: #B3C9D7;
$selected-text-color: #191919;
$selection-color: #B3C9D7;
