$black-normal: #000000;
$red-normal: #DA4939;
$green-bright: #83D182;
$yellow-bright: #FFFF7C;
$blue-bright: #9FCEF0;
$magenta-bright: #FFFFFF;
$cyan-bright: #A0CEF0;
$white-bright: #FFFFFF;
$green-normal: #519F50;
$yellow-normal: #FFD24A;
$blue-normal: #6D9CBE;
$magenta-normal: #D0D0FF;
$cyan-normal: #6E9CBE;
$white-normal: #FFFFFF;
$black-bright: #323232;
$red-bright: #FF7B6B;
$background-color: #2B2B2B;
$bold-color: #E6E1DC;
$cursor-color: #FFFFFF;
$cursor-text-color: #E6E1DC;
$foreground-color: #E6E1DC;
$selected-text-color: #E6E1DC;
$selection-color: #5A647E;
