$black-normal: #3C3C30;
$red-normal: #98290F;
$green-bright: #61E070;
$yellow-bright: #D69927;
$blue-bright: #79D9D9;
$magenta-bright: #CD7C54;
$cyan-bright: #59D599;
$white-bright: #FFF1E9;
$green-normal: #479A43;
$yellow-normal: #7F7111;
$blue-normal: #497F7D;
$magenta-normal: #7F4E2F;
$cyan-normal: #387F58;
$white-normal: #807974;
$black-bright: #555445;
$red-bright: #E0502A;
$background-color: #22211D;
$bold-color: #FAE679;
$cursor-color: #FACB80;
$cursor-text-color: #161611;
$foreground-color: #807A74;
$selected-text-color: #FACD77;
$selection-color: #413829;
