$black-normal: #000000;
$red-normal: #CC0000;
$green-bright: #9AFF87;
$yellow-bright: #FFFB5C;
$blue-bright: #43A8ED;
$magenta-bright: #FF818A;
$cyan-bright: #34E2E2;
$white-bright: #EEEEEC;
$green-normal: #1A921C;
$yellow-normal: #F0E53A;
$blue-normal: #0066FF;
$magenta-normal: #C5656B;
$cyan-normal: #06989A;
$white-normal: #D3D7CF;
$black-bright: #555753;
$red-bright: #EF2929;
$background-color: #2A211C;
$bold-color: #D3C1AF;
$cursor-color: #FFFFFF;
$cursor-text-color: #000000;
$foreground-color: #B8A898;
$selected-text-color: #B8A898;
$selection-color: #C3DCFF;
