$black-normal: #242526;
$red-normal: #F8511B;
$green-bright: #74EC4C;
$yellow-bright: #FDC325;
$blue-bright: #3393CA;
$magenta-bright: #E75E4F;
$cyan-bright: #4FBCE6;
$white-bright: #8C735B;
$green-normal: #565747;
$yellow-normal: #FA771D;
$blue-normal: #2C70B7;
$magenta-normal: #F02E4F;
$cyan-normal: #3CA1A6;
$white-normal: #ADADAD;
$black-bright: #5FAC6D;
$red-bright: #F74319;
$background-color: #1B1C1D;
$bold-color: #CDCDCD;
$cursor-color: #CDCDCD;
$cursor-text-color: #1B1C1D;
$foreground-color: #ADADAD;
$selected-text-color: #1B1C1D;
$selection-color: #EA6154;
