$black-normal: #3E3E3E;
$red-normal: #970B16;
$green-bright: #87D5A2;
$yellow-bright: #F1D007;
$blue-bright: #2E6CBA;
$magenta-bright: #FFA29F;
$cyan-bright: #1CFAFE;
$white-bright: #FFFFFF;
$green-normal: #07962A;
$yellow-normal: #F8EEC7;
$blue-normal: #003E8A;
$magenta-normal: #E94691;
$cyan-normal: #89D1EC;
$white-normal: #FFFFFF;
$black-bright: #666666;
$red-bright: #DE0000;
$background-color: #F4F4F4;
$bold-color: #C95500;
$cursor-color: #3F3F3F;
$cursor-text-color: #F4F4F4;
$foreground-color: #3E3E3E;
$selected-text-color: #535353;
$selection-color: #A9C1E2;
