$black-normal: #2D283F;
$red-normal: #ED2261;
$green-bright: #53AA5E;
$yellow-bright: #B2DC87;
$blue-bright: #A9BCEC;
$magenta-bright: #AD81C2;
$cyan-bright: #9DE3EB;
$white-bright: #A288F7;
$green-normal: #1FA91B;
$yellow-normal: #8DDC20;
$blue-normal: #487DF4;
$magenta-normal: #8D35C9;
$cyan-normal: #3BDEED;
$white-normal: #9E9EA0;
$black-bright: #59516A;
$red-bright: #F0729A;
$background-color: #171423;
$bold-color: #9F87FF;
$cursor-color: #A288F7;
$cursor-text-color: #171422;
$foreground-color: #9F9FA1;
$selected-text-color: #171422;
$selection-color: #493D70;
