$black-normal: #2A2E33;
$red-normal: #B84D51;
$green-bright: #798431;
$yellow-bright: #E58A50;
$blue-bright: #4B6B88;
$magenta-bright: #6E5079;
$cyan-bright: #4D7B74;
$white-bright: #5A626A;
$green-normal: #B3BF5A;
$yellow-normal: #E4B55E;
$blue-normal: #6E90B0;
$magenta-normal: #A17EAC;
$cyan-normal: #7FBFB4;
$white-normal: #B5B9B6;
$black-bright: #1D1F22;
$red-bright: #8D2E32;
$background-color: #161719;
$bold-color: #B7BCBA;
$cursor-color: #B7BCBA;
$cursor-text-color: #1E1F22;
$foreground-color: #B7BCBA;
$selected-text-color: #B7BCBA;
$selection-color: #1E1F22;
