$black-normal: #323232;
$red-normal: #D25252;
$green-bright: #9DFF91;
$yellow-bright: #FFE48B;
$blue-bright: #5EB7F7;
$magenta-bright: #FF9DFF;
$cyan-bright: #DCF4FF;
$white-bright: #FFFFFF;
$green-normal: #7FE173;
$yellow-normal: #FFC66D;
$blue-normal: #4099FF;
$magenta-normal: #F680FF;
$cyan-normal: #BED6FF;
$white-normal: #EEEEEC;
$black-bright: #535353;
$red-bright: #F07070;
$background-color: #323232;
$bold-color: #FFFFA9;
$cursor-color: #D6D6D6;
$cursor-text-color: #000000;
$foreground-color: #FFFFFF;
$selected-text-color: #000000;
$selection-color: #5B5B5B;
