$black-normal: #000000;
$red-normal: #CC0000;
$green-bright: #00D900;
$yellow-bright: #E5E500;
$blue-bright: #0000FF;
$magenta-bright: #E500E5;
$cyan-bright: #00E5E5;
$white-bright: #E5E5E5;
$green-normal: #00A600;
$yellow-normal: #999900;
$blue-normal: #0000B2;
$magenta-normal: #B200B2;
$cyan-normal: #00A6B2;
$white-normal: #CCCCCC;
$black-bright: #666666;
$red-bright: #E50000;
$background-color: #FEF49C;
$bold-color: #000000;
$cursor-color: #7F7F7F;
$cursor-text-color: #000000;
$foreground-color: #000000;
$selected-text-color: #000000;
$selection-color: #A4C9CD;
