$black-normal: #000000;
$red-normal: #800000;
$green-bright: #61CE3C;
$yellow-bright: #FBDE2D;
$blue-bright: #253B76;
$magenta-bright: #FF0080;
$cyan-bright: #8DA6CE;
$white-bright: #F8F8F8;
$green-normal: #61CE3C;
$yellow-normal: #FBDE2D;
$blue-normal: #253B76;
$magenta-normal: #FF0080;
$cyan-normal: #8DA6CE;
$white-normal: #F8F8F8;
$black-bright: #000000;
$red-bright: #800000;
$background-color: #271F19;
$bold-color: #FFFFFF;
$cursor-color: #FFFFFF;
$cursor-text-color: #FFFFFF;
$foreground-color: #FFFFFF;
$selected-text-color: #FFFFFF;
$selection-color: #253B76;
