$black-normal: #4C4C4C;
$red-normal: #BB0000;
$green-bright: #55FF55;
$yellow-bright: #FFFF55;
$blue-bright: #5555FF;
$magenta-bright: #FF55FF;
$cyan-bright: #55FFFF;
$white-bright: #FFFFFF;
$green-normal: #5FDE8F;
$yellow-normal: #F3F167;
$blue-normal: #276BD8;
$magenta-normal: #BB00BB;
$cyan-normal: #00DADF;
$white-normal: #BBBBBB;
$black-bright: #555555;
$red-bright: #FF5555;
$background-color: #000000;
$bold-color: #E3E3E3;
$cursor-color: #BBBBBB;
$cursor-text-color: #FFFFFF;
$foreground-color: #BBBBBB;
$selected-text-color: #000000;
$selection-color: #B5D5FF;
