$black-normal: #241F2B;
$red-normal: #91284C;
$green-bright: #2CD946;
$yellow-bright: #FDE83B;
$blue-bright: #90BAF9;
$magenta-bright: #A479E3;
$cyan-bright: #ACD4EB;
$white-bright: #9E8CBD;
$green-normal: #23801C;
$yellow-normal: #B49D27;
$blue-normal: #6580B0;
$magenta-normal: #674D96;
$cyan-normal: #8AAABE;
$white-normal: #524966;
$black-bright: #312D3D;
$red-bright: #D5356C;
$background-color: #100815;
$bold-color: #C8BD1D;
$cursor-color: #524966;
$cursor-text-color: #100613;
$foreground-color: #514968;
$selected-text-color: #A593CD;
$selection-color: #1F1D2B;
