$black-normal: #002831;
$red-normal: #D11C24;
$green-bright: #475B62;
$yellow-bright: #536870;
$blue-bright: #708284;
$magenta-bright: #5956BA;
$cyan-bright: #819090;
$white-bright: #FCF4DC;
$green-normal: #738A05;
$yellow-normal: #A57706;
$blue-normal: #2176C7;
$magenta-normal: #C61C6F;
$cyan-normal: #259286;
$white-normal: #EAE3CB;
$black-bright: #001E27;
$red-bright: #BD3613;
$background-color: #FCF4DC;
$bold-color: #475B62;
$cursor-color: #536870;
$cursor-text-color: #EAE3CB;
$foreground-color: #536870;
$selected-text-color: #475B62;
$selection-color: #EAE3CB;
