$black-normal: (

);
$color-space: #000000;
$red-normal: #1B1D1E;
$green-bright: #E60813;
$yellow-bright: #FF3338;
$blue-bright: #FE3A35;
$magenta-bright: #1D50FF;
$cyan-bright: #747CFF;
$white-bright: #6184FF;
$green-normal: #FFFFF9;
$yellow-normal: #E22928;
$blue-normal: #E24756;
$magenta-normal: #2C3FFF;
$cyan-normal: #2435DB;
$white-normal: #3256FF;
$black-bright: #FFFEF6;
$red-bright: #505354;
$background-color: #FF0325;
$badge-color: #1B1D1E;
$bold-color: #8890FF;
$cursor-color: #FFFFFF;
$cursor-guide-color: #2C3FFF;
$cursor-text-color: #FF584C;
$foreground-color: #000000;
$link-color: #E3E3E3;
$selected-text-color: #AD201E;
$selection-color: #F0272D;
$tab-color: #070E50;
