$black-normal: (

);
$color-space: #4D504C;
$red-normal: #1B1D1E;
$green-bright: #269D1B;
$yellow-bright: #48FF77;
$blue-bright: #3AFE16;
$magenta-bright: #506B95;
$cyan-bright: #72589D;
$white-bright: #4085A6;
$green-normal: #E5E6E1;
$yellow-normal: #13CE30;
$blue-normal: #63E457;
$magenta-normal: #2525F5;
$cyan-normal: #641F74;
$white-normal: #378CA9;
$black-bright: #D9D8D1;
$red-bright: #505354;
$background-color: #8DFF2A;
$bold-color: #1B1D1E;
$cursor-color: #FFFFFF;
$cursor-text-color: #16B61B;
$foreground-color: #000000;
$selected-text-color: #B5B5B5;
$selection-color: #0B6309;
