$black-normal: #141414;
$red-normal: #C06D44;
$green-bright: #CCD88C;
$yellow-bright: #E2C47E;
$blue-bright: #5A5E62;
$magenta-bright: #D0DC8E;
$cyan-bright: #8A989B;
$white-bright: #FFFFD4;
$green-normal: #AFB97A;
$yellow-normal: #C2A86C;
$blue-normal: #44474A;
$magenta-normal: #B4BE7C;
$cyan-normal: #778385;
$white-normal: #FFFFD4;
$black-bright: #262626;
$red-bright: #DE7C4C;
$background-color: #141414;
$bold-color: #FFFFD4;
$cursor-color: #FFFFFF;
$cursor-text-color: #000000;
$foreground-color: #FFFFD4;
$selected-text-color: #FFFFD4;
$selection-color: #313131;
