$ansi-0-color (

)
$color-space #000000
$ansi-1-color #1B1D1E
$ansi-10-color #E6DC44
$ansi-11-color #FFF27D
$ansi-12-color #FEED6C
$ansi-13-color #919495
$ansi-14-color #9A9A9D
$ansi-15-color #A3A3A6
$ansi-2-color #DADBD6
$ansi-3-color #C8BE46
$ansi-4-color #F4FD22
$ansi-5-color #737174
$ansi-6-color #747271
$ansi-7-color #62605F
$ansi-8-color #C6C5BF
$ansi-9-color #505354
$background-color #FFF78E
$badge-color #1B1D1E
$bold-color #FFF789
$cursor-color #FFFFFF
$cursor-guide-color #FCEF0C
$cursor-text-color #FCFF64
$foreground-color #000000
$link-color #6F6F6F
$selected-text-color #AD9F07
$selection-color #F0E04A
$tab-color #4D504C
