$ansi-0-color #20111B
$ansi-1-color #BE100E
$ansi-10-color #858162
$ansi-11-color #EAA549
$ansi-12-color #426A79
$ansi-13-color #97522C
$ansi-14-color #989A9C
$ansi-15-color #D5CCBA
$ansi-2-color #858162
$ansi-3-color #EAA549
$ansi-4-color #426A79
$ansi-5-color #97522C
$ansi-6-color #989A9C
$ansi-7-color #968C83
$ansi-8-color #5E5252
$ansi-9-color #BE100E
$background-color #20111B
$bold-color #968C83
$cursor-color #968C83
$cursor-text-color #20111B
$foreground-color #968C83
$selected-text-color #968C83
$selection-color #45373C
