$ansi-0-color #2B1B1D
$ansi-1-color #91002B
$ansi-10-color #8DFF57
$ansi-11-color #C8381D
$ansi-12-color #CFC9FF
$ansi-13-color #FC6CBA
$ansi-14-color #FFCEAF
$ansi-15-color #B0949D
$ansi-2-color #579524
$ansi-3-color #AB311B
$ansi-4-color #8C87B0
$ansi-5-color #692F50
$ansi-6-color #E8A866
$ansi-7-color #68525A
$ansi-8-color #3D2B2E
$ansi-9-color #C5255D
$background-color #150707
$bold-color #C8381D
$cursor-color #68525A
$cursor-text-color #140707
$foreground-color #68525A
$selected-text-color #69525A
$selection-color #2B1B1D
