$ansi-0-color #000000
$ansi-1-color #E8341C
$ansi-10-color #77B869
$ansi-11-color #EFD64B
$ansi-12-color #387CD3
$ansi-13-color #957BBE
$ansi-14-color #3D97E2
$ansi-15-color #BABABA
$ansi-2-color #68C256
$ansi-3-color #F2D42C
$ansi-4-color #1C98E8
$ansi-5-color #8E69C9
$ansi-6-color #1C98E8
$ansi-7-color #BABABA
$ansi-8-color #000000
$ansi-9-color #E05A4F
$background-color #222324
$bold-color #FFFFFF
$cursor-color #BBBBBB
$cursor-text-color #FFFFFF
$foreground-color #BABABA
$selected-text-color #BABABA
$selection-color #303333
