$ansi-0-color #3A3D43
$ansi-1-color #BE3F48
$ansi-10-color #0F722F
$ansi-11-color #C47033
$ansi-12-color #186DE3
$ansi-13-color #FB0067
$ansi-14-color #2E706D
$ansi-15-color #FDFFB9
$ansi-2-color #879A3B
$ansi-3-color #C5A635
$ansi-4-color #4F76A1
$ansi-5-color #855C8D
$ansi-6-color #578FA4
$ansi-7-color #B9BCBA
$ansi-8-color #888987
$ansi-9-color #FB001F
$background-color #1F1F1F
$bold-color #FEFFB2
$cursor-color #F83E19
$cursor-text-color #171717
$foreground-color #B9BCBA
$selected-text-color #B9BCBA
$selection-color #2A2D32
