$ansi-0-color #1F1D27
$ansi-1-color #D9393E
$ansi-10-color #2DCD73
$ansi-11-color #D9B76E
$ansi-12-color #FFC284
$ansi-13-color #DE8D40
$ansi-14-color #2488FF
$ansi-15-color #EAE5FF
$ansi-2-color #2DCD73
$ansi-3-color #D9B76E
$ansi-4-color #FFC284
$ansi-5-color #DE8D40
$ansi-6-color #2488FF
$ansi-7-color #B7A1FF
$ansi-8-color #353147
$ansi-9-color #D9393E
$background-color #1F1D27
$bold-color #B7A2FF
$cursor-color #FF9839
$cursor-text-color #1F1D27
$foreground-color #B7A1FF
$selected-text-color #B7A2FF
$selection-color #353147
