$ansi-0-color #3C3C30
$ansi-1-color #98290F
$ansi-10-color #61E070
$ansi-11-color #D69927
$ansi-12-color #79D9D9
$ansi-13-color #CD7C54
$ansi-14-color #59D599
$ansi-15-color #FFF1E9
$ansi-2-color #479A43
$ansi-3-color #7F7111
$ansi-4-color #497F7D
$ansi-5-color #7F4E2F
$ansi-6-color #387F58
$ansi-7-color #807974
$ansi-8-color #555445
$ansi-9-color #E0502A
$background-color #22211D
$bold-color #FAE679
$cursor-color #FACB80
$cursor-text-color #161611
$foreground-color #807A74
$selected-text-color #FACD77
$selection-color #413829
