$ansi-0-color #000000
$ansi-1-color #CC0000
$ansi-10-color #9AFF87
$ansi-11-color #FFFB5C
$ansi-12-color #43A8ED
$ansi-13-color #FF818A
$ansi-14-color #34E2E2
$ansi-15-color #EEEEEC
$ansi-2-color #1A921C
$ansi-3-color #F0E53A
$ansi-4-color #0066FF
$ansi-5-color #C5656B
$ansi-6-color #06989A
$ansi-7-color #D3D7CF
$ansi-8-color #555753
$ansi-9-color #EF2929
$background-color #2A211C
$bold-color #D3C1AF
$cursor-color #FFFFFF
$cursor-text-color #000000
$foreground-color #B8A898
$selected-text-color #B8A898
$selection-color #C3DCFF
