$ansi-0-color (

)
$color-space #000000
$ansi-1-color #08002E
$ansi-10-color #64002C
$ansi-11-color #B4CE59
$ansi-12-color #FAC357
$ansi-13-color #40A4CF
$ansi-14-color #F12AAE
$ansi-15-color #62CAA8
$ansi-2-color #FFF5DB
$ansi-3-color #5D731A
$ansi-4-color #CD751C
$ansi-5-color #1D6DA1
$ansi-6-color #B7077E
$ansi-7-color #42A38C
$ansi-8-color #F3E0B8
$ansi-9-color #331E4D
$background-color #D02063
$badge-color #0E0D15
$bold-color #FF0000
$cursor-color #FFFFFF
$cursor-guide-color #BBBBBB
$cursor-text-color #351F4D
$foreground-color #FFFFFF
$link-color #DBD1B9
$selected-text-color #40A4CF
$selection-color #08002E
$tab-color #F3E0B8
