$ansi-0-color #242526
$ansi-1-color #F8511B
$ansi-10-color #74EC4C
$ansi-11-color #FDC325
$ansi-12-color #3393CA
$ansi-13-color #E75E4F
$ansi-14-color #4FBCE6
$ansi-15-color #8C735B
$ansi-2-color #565747
$ansi-3-color #FA771D
$ansi-4-color #2C70B7
$ansi-5-color #F02E4F
$ansi-6-color #3CA1A6
$ansi-7-color #ADADAD
$ansi-8-color #5FAC6D
$ansi-9-color #F74319
$background-color #1B1C1D
$bold-color #CDCDCD
$cursor-color #CDCDCD
$cursor-text-color #1B1C1D
$foreground-color #ADADAD
$selected-text-color #1B1C1D
$selection-color #EA6154
