$ansi-0-color #000000
$ansi-1-color #B6214A
$ansi-10-color #86A93E
$ansi-11-color #E5E500
$ansi-12-color #0000FF
$ansi-13-color #E500E5
$ansi-14-color #00E5E5
$ansi-15-color #E5E5E5
$ansi-2-color #00A600
$ansi-3-color #BFBF00
$ansi-4-color #246EB2
$ansi-5-color #B200B2
$ansi-6-color #00A6B2
$ansi-7-color #BFBFBF
$ansi-8-color #666666
$ansi-9-color #E50000
$background-color #100B05
$bold-color #00DB00
$cursor-color #23FF18
$cursor-text-color #FF0018
$foreground-color #84C138
$selected-text-color #FFFFFF
$selection-color #083905
