$ansi-0-color #575757
$ansi-1-color #FF1B00
$ansi-10-color #A5DF55
$ansi-11-color #FBE84A
$ansi-12-color #89BEFF
$ansi-13-color #C001C1
$ansi-14-color #86EAFE
$ansi-15-color #DBDBDB
$ansi-2-color #A5E055
$ansi-3-color #FBE74A
$ansi-4-color #496487
$ansi-5-color #FD5FF1
$ansi-6-color #86E9FE
$ansi-7-color #CBCCCB
$ansi-8-color #262626
$ansi-9-color #D51D00
$background-color #000000
$bold-color #FFFFFF
$cursor-color #BBBBBB
$cursor-text-color #FFFFFF
$foreground-color #DBDBDB
$selected-text-color #000000
$selection-color #B5D5FF
