$ansi-0-color #323232
$ansi-1-color #D25252
$ansi-10-color #9DFF91
$ansi-11-color #FFE48B
$ansi-12-color #5EB7F7
$ansi-13-color #FF9DFF
$ansi-14-color #DCF4FF
$ansi-15-color #FFFFFF
$ansi-2-color #7FE173
$ansi-3-color #FFC66D
$ansi-4-color #4099FF
$ansi-5-color #F680FF
$ansi-6-color #BED6FF
$ansi-7-color #EEEEEC
$ansi-8-color #535353
$ansi-9-color #F07070
$background-color #323232
$bold-color #FFFFA9
$cursor-color #D6D6D6
$cursor-text-color #000000
$foreground-color #FFFFFF
$selected-text-color #000000
$selection-color #5B5B5B
