$ansi-0-color #343935
$ansi-1-color #CF3F61
$ansi-10-color #767F2C
$ansi-11-color #78592F
$ansi-12-color #135979
$ansi-13-color #604291
$ansi-14-color #76BBCA
$ansi-15-color #B2B5AE
$ansi-2-color #7BB75B
$ansi-3-color #E9B32A
$ansi-4-color #4C9AD4
$ansi-5-color #A57FC4
$ansi-6-color #389AAD
$ansi-7-color #FAFAF6
$ansi-8-color #595B59
$ansi-9-color #D18FA6
$background-color #1E1E1E
$bold-color #FFFFFA
$cursor-color #EDCF4F
$cursor-text-color #343935
$foreground-color #F7F6EC
$selected-text-color #F7F6EC
$selection-color #175877
