$ansi-0-color #000000
$ansi-1-color #FF3030
$ansi-10-color #559A70
$ansi-11-color #CCAC00
$ansi-12-color #0099CC
$ansi-13-color #CC69C8
$ansi-14-color #7AC4CC
$ansi-15-color #BCCCCC
$ansi-2-color #559A70
$ansi-3-color #CCAC00
$ansi-4-color #0099CC
$ansi-5-color #CC69C8
$ansi-6-color #7AC4CC
$ansi-7-color #BCCCCC
$ansi-8-color #000000
$ansi-9-color #FF3030
$background-color #303030
$bold-color #FFFFFF
$cursor-color #FFFFFF
$cursor-text-color #000000
$foreground-color #AFC2C2
$selected-text-color #000000
$selection-color #7DBEFF
