$ansi-0-color #000000
$ansi-1-color #990000
$ansi-10-color #00D900
$ansi-11-color #E5E500
$ansi-12-color #0000FF
$ansi-13-color #E500E5
$ansi-14-color #00E5E5
$ansi-15-color #E5E5E5
$ansi-2-color #00A600
$ansi-3-color #999900
$ansi-4-color #0000B2
$ansi-5-color #B200B2
$ansi-6-color #00A6B2
$ansi-7-color #BFBFBF
$ansi-8-color #666666
$ansi-9-color #E50000
$background-color #224FBC
$bold-color #FFFFFF
$cursor-color #7F7F7F
$cursor-text-color #FFFFFF
$foreground-color #FFFFFF
$selected-text-color #FFFFFF
$selection-color #216DFF
