$ansi-0-color #757575
$ansi-1-color #825D4D
$ansi-10-color #98D9AA
$ansi-11-color #FAE79D
$ansi-12-color #7AC3CF
$ansi-13-color #D6B2A1
$ansi-14-color #ADE0E0
$ansi-15-color #E0E0E0
$ansi-2-color #728C62
$ansi-3-color #ADA16D
$ansi-4-color #4D7B82
$ansi-5-color #8A7267
$ansi-6-color #729494
$ansi-7-color #E0E0E0
$ansi-8-color #8A8A8A
$ansi-9-color #CF937A
$background-color #243435
$bold-color #648890
$cursor-color #57647A
$cursor-text-color #323232
$foreground-color #D4E7D4
$selected-text-color #9E8B13
$selection-color #FFFFFF
