$ansi-0-color #000000
$ansi-1-color #B84131
$ansi-10-color #C4F137
$ansi-11-color #FEE14D
$ansi-12-color #8DCFF0
$ansi-13-color #F79AFF
$ansi-14-color #6AD9CF
$ansi-15-color #F7F7F7
$ansi-2-color #7DA900
$ansi-3-color #C4A500
$ansi-4-color #62A3C4
$ansi-5-color #BA8ACC
$ansi-6-color #207383
$ansi-7-color #A1A1A1
$ansi-8-color #7A7A7A
$ansi-9-color #D6837C
$background-color #1B1B1B
$bold-color #FFFFFF
$cursor-color #BBBBBB
$cursor-text-color #FFFFFF
$foreground-color #F7F7F7
$selected-text-color #F7F7F7
$selection-color #207483
