$ansi-0-color #15171C
$ansi-1-color #EC5F67
$ansi-10-color #93D493
$ansi-11-color #FFD256
$ansi-12-color #4D84D1
$ansi-13-color #FF55FF
$ansi-14-color #83E9E4
$ansi-15-color #FFFFFF
$ansi-2-color #81A764
$ansi-3-color #FEC254
$ansi-4-color #5486C0
$ansi-5-color #BF83C1
$ansi-6-color #57C2C1
$ansi-7-color #EFECE7
$ansi-8-color #555555
$ansi-9-color #FF6973
$background-color #222222
$bold-color #FFFFFF
$cursor-color #BBBBBB
$cursor-text-color #FFFFFF
$foreground-color #BDBAAE
$selected-text-color #FFFFFF
$selection-color #272E35
