$ansi-0-color #000000
$ansi-1-color #FF4D83
$ansi-10-color #1FC231
$ansi-11-color #D5B807
$ansi-12-color #15A9FD
$ansi-13-color #8959A8
$ansi-14-color #3E999F
$ansi-15-color #FFFFFF
$ansi-2-color #1F8C3B
$ansi-3-color #1FC95B
$ansi-4-color #1DD3EE
$ansi-5-color #8959A8
$ansi-6-color #3E999F
$ansi-7-color #FFFFFF
$ansi-8-color #000000
$ansi-9-color #FF0021
$background-color #FFFFFF
$bold-color #4D4D4C
$cursor-color #4D4D4C
$cursor-text-color #FFFFFF
$foreground-color #4D4D4C
$selected-text-color #4D4D4C
$selection-color #D6D6D6
