$ansi-0-color #050505
$ansi-1-color #E9897C
$ansi-10-color #C3F786
$ansi-11-color #FCFBCC
$ansi-12-color #B6DEFB
$ansi-13-color #AD7FA8
$ansi-14-color #D7D9FC
$ansi-15-color #E2E2E2
$ansi-2-color #B6377D
$ansi-3-color #ECEBBE
$ansi-4-color #A9CDEB
$ansi-5-color #75507B
$ansi-6-color #C9CAEC
$ansi-7-color #F2F2F2
$ansi-8-color #141414
$ansi-9-color #F99286
$background-color #1A1A1A
$bold-color #E5E5E5
$cursor-color #FCFBCC
$cursor-text-color #000000
$foreground-color #ACACAB
$selected-text-color #FFFFFF
$selection-color #4D4D4D
