$ansi-0-color #000000
$ansi-1-color #B0425B
$ansi-10-color #29E620
$ansi-11-color #F08161
$ansi-12-color #867AED
$ansi-13-color #A05EEE
$ansi-14-color #EAEAEA
$ansi-15-color #BFA3FF
$ansi-2-color #37A415
$ansi-3-color #AD5C42
$ansi-4-color #564D9B
$ansi-5-color #6C3CA1
$ansi-6-color #808080
$ansi-7-color #87799C
$ansi-8-color #5D3225
$ansi-9-color #FF6388
$background-color #1B1B23
$bold-color #A063EB
$cursor-color #A063EB
$cursor-text-color #1B1B22
$foreground-color #877A9B
$selected-text-color #1B1B22
$selection-color #A063EB
